<ion-view view-title="menu" id="menu">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
<ion-pane class="background-peach">
      <ion-content id="lifepoints" scroll="false">

        <ion-wheel>
          <div id="activate" ng-click="showCircles()"><i ng-class="circlesHidden ? 'ion-arrow-expand' : 'ion-arrow-shrink'"></i></div>
          <a ng-href="#/timer"><div class="circle"><i class="fa fa-clock-o"></i></div></a>
          <a ng-href="#/dice"><div class="circle"><i class="fa fa-cube"></i></div></a>
          <a ng-href="#/lifepoints"><div class="circle"><i class="fa fa-heart"></i></div></a>
          <div class="circle"><i class="fa fa-ban"></i></div>
          <div class="circle"><i class="fa fa-ban"></i></div>
          <div class="circle"><i class="fa fa-ban"></i></div>
          <div class="circle"><i class="fa fa-ban"></i></div>
          <div class="circle"><i class="fa fa-ban"></i></div>
        </ion-wheel>
      </ion-content>
    </ion-pane>