<ion-view view-title="menu" id="menu">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
<ion-pane class="background-peach">
      <ion-content id="lifepoints" scroll="false">

        <ion-wheel>
          <div id="activate" ng-click="showCircles()"><i ng-class="circlesHidden ? 'ion-arrow-expand' : 'ion-arrow-shrink'"></i></div>
          <a href="#/timer"><div class="circle"><i class="icon ion-home"></i></div></a>
          <a href="#/dice"><div class="circle"><i class="icon ion-alert-circled"></i></div></a>
          <a href="#/lifepoints"><div class="circle"><i class="icon ion-heart-broken"></i></div></a>
          <div class="circle"><i class="icon ion-trash-a"></i></div>
          <div class="circle"><i class="icon ion-email"></i></div>
          <div class="circle"><i class="icon ion-at"></i></div>
          <div class="circle"><i class="icon ion-pin"></i></div>
          <div class="circle"><i class="icon ion-lock-combination"></i></div>
        </ion-wheel>
      </ion-content>
    </ion-pane>